*{
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

span{
    display: block;
}



html{
    font-size: 14px;
}

section{
    padding: 30px;
}

/* em unit */
.em-section{
    background: orangered;
    color: white;
}

.em{
    font-size: 1.2em; /* Calculado como: 14px * 1.2 = 16,8*/
}

/* rem unit */
.rem-section{
    background: greenyellow;
}

.rem{
    font-size: 1.2rem; /*Relativo ao elemento root (html)*/
}

.rem-2{
    font-size: 1.8rem; /*Relativo ao elemento root (html)*/
}


.one{
    width: 50vw;
    height: 10vw;
    background: pink;
}

.two{
    background: green;
}

.three{
    background: purple;
}